.about {
    align-items: center;
    background-color: #E6DDC4;
    color: #181D31;
    min-height: 100%;
}

.months {
    color: red;
    text-decoration: underline;
}

.about-title {
    padding-top: 2rem;
}
