body {
    background-color: #181D31;
    font-family: 'Source Code Pro', monospace;
}

.container {
    padding: 0 20px;
    text-align: center;
}

.container-content {
    padding-top: 45px;
    padding-bottom: 45px;
}

@media (min-width: 650px) {
    .container {
        padding: 0 15%;
        text-align: left;
    }
}