body {
    background-color: #181D31;
    font-family: 'Source Code Pro', monospace;
}

.container {
    padding: 45px 20px;
    text-align: center;
}

@media (min-width: 600px) {
    .container {
        padding: 45px 15%;
        text-align: left;
    }
}