.contact {
    min-height: 80vh;
    background-color: #678983;
    color: #181D31;
}

.contact-form {
    max-width: 80%;
    margin: auto;
}

.contact-title {
    padding-top: 2rem;
}
/* 


.intro-icons {
    margin-right: 15px;
    color: #f8efd1;
}

.intro-icons:visited { 
    color:#E6DDC4; 
}

.intro-icons:hover { 
    color:#f8efd1; 
} */
