form, label, input,textarea {
    border-radius: 5px;
    border: none;
    display: block;
    width: 100%;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    font-size: 14px;
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 15px;
    padding: 10px;
    max-width: 100%;
    box-sizing: border-box;
}

textarea{
    resize: none;
}

.contactForm-button-format {
    padding: 10px;
    text-align: center;
}

.contactForm-button {
    background-color: #181D31;
    border: none;
    border-radius: 5px;
    color: #E6DDC4;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2rem;
    padding: 7px;
    transition: 0.4s;
}

.contactForm-button:hover {
    background-color: #E6DDC4;
    color: #181D31;
    cursor: pointer;
}