.contact {
    min-height: 100%;
    background-color: #678983;
    color: #181D31;
}

.contact-form {
    max-width: 100%;
}

.contact-title {
    margin-top: 0;
}

@media (min-width: 600px) {
    .contact-form {
        max-width: 80%;
        margin: auto;
    }
}