.footer {
    background-color: #678983;
    padding: 15px 0;
    text-align: center;
}

.footer-icons {
    display:flex;
    justify-content: space-between;
    max-width: 15%;
    margin: auto;
}

.footer-icon {
    color: #181D31;
    transition: 0.4s;
}

.footer-icon:hover {
    color: #E6DDC4;
    cursor: pointer;
}
