.intro {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.intro-text {
    font-size: 1.25rem;
    color: #E6DDC4;
}

.intro-icons {
    margin-right: 15px;
    color: #E6DDC4;
}

.intro-icons:visited { 
    color:#E6DDC4; 
}

.intro-icons:hover { 
    color:#f8efd1; 
}
