.projects {
    color: #E6DDC4;
    min-height: 100%;
    text-align: left;
}

.projects-title {
    margin-top: 0px;
}

.projects-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
