.projectBox {
    border-radius: 5px;
    border: 0.2rem solid white;
    display: flex;
    padding: 0 25px;
    transition: 0.4s;
    text-align:left;
    margin-bottom: 20px;
}

@media (min-width: 1175px) {
    .projectBox {
        border-radius: 5px;
        border: 0.2rem solid white;
        display: flex;
        max-width: 43%;
        padding: 0 25px;
        transition: 0.4s;
        text-align:left;
        margin-bottom: 20px;
    }
}


.projectBox:hover {
    background-color: #E6DDC4;
    color: black
}

.projectBox:hover .projectBox-icons .projectBox-icon{
    color: black;
    transition: 0.4s;
}

.projectBox-text {
    padding-right: 20px;
}

.projectBox-icons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 0;
}

.projectBox-icon {
    color: #E6DDC4;
}

.projectBox-icon:visited {
    color: #E6DDC4;
}


